*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  background:lightgray;
  
}
section{
  width: 960px;
  margin: 0 auto;
  /* border: 2px solid black; */
}

header{
  padding: 10px;
  background: #ffffff;
   border: 2px solid #cccccc; 
}
#Header_Name{
  float:left;
  padding:7.5px;
  vertical-align: middle;
  color: white;
  background-color: #4aaaa5;
}
#Header_NavBar{
  
  
  vertical-align: middle;
  
  
}
ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0;
}
li {
  float: right;
}

li a {
  display: block;
  color: #777777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}    
li a:hover {
    background-color: #111;
}
.Main_Section{
  height: 530px;
  margin: 20px auto;
  background-color: white;
  overflow: hidden;
  background-image: url('assets/images/img_bckgrnd.png');
}
img{
  float: left;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  border: 1px solid black;
}
p{
  
  margin: 10px 0 5px 10px;
}
.Main_Title{
  color: #4aaaa5;
  margin:20px;
}
footer{
  background-color: #666666;
  color: white;
  text-align: center;
  height: 50px;
  border-top: 10px solid #4aaaa5;
}

.NameEmail,.Message,.button{
  margin: 0 0 0 10px;
  
}
.NameEmail,.Message{

  width: 930px;
}


.Message{
  height: 100px;
}
.button{
  margin: 10px;
  color: white;
  background-color: #4aaaa5;
  width: 100px;
}
/* 
* You use `980px` because you never want any of the content to be cut off. Since the desktop layout is about 960px wide, you want the media queries to kick in before your content gets cut off.

* `768px` is about the width of a tablet and `640px` is about the width of a phone in landscape.

6. Make the layout match the following screenshots:

* `index.html`: [980px](Images/980-index.jpg), [768px](Images/768-index.jpg), [640px](Images/640-index.jpg)

* `portfolio.html`: [980px](Images/980-portfolio.jpg), [768px](Images/768-portfolio.jpg), [640px](Images/640-portfolio.jpg)

* `contact.html`: [980px](Images/980-contact.jpg), [768px](Images/768-contact.jpg), [640px](Images/640-contact.jpg)

7. Make the position of the header `static` (the default positioning) when the screen is `640px` wide. The header design takes up a lot of room; you don't want it to stick to the top of a small screen and leave no room for the rest of your site.

8. Be sure to include the `viewport` tag in all your HTML files, otherwise your media-queries won't function as expected on mobile devices. _(Hint: You won't need to use exact pixels for anything other than the container)_

9. **Protip**: Use the Chrome extensions [Window Resizer](https://chrome.google.com/webstore/detail/window-resizer/kkelicaakdanhinjdeammmilcgefonfh) and [Browser Width](https://chrome.google.com/webstore/detail/browser-width/mlnegepkjlccabakompdmbcmdieaideh) to see the browser dimensions in Chrome. */

@media screen and (max-width: 980px) {
  body {

    background-color: green;
  }
  section{
    width:600px;
   
  }
  .NameEmail,.Message{

    width: 570px;
  }
  .Main_Section{
    margin-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-color: orange;
  }
  section{
    width:630px;
   
  }
  .NameEmail,.Message{

    width: 600px;
  }
  .Main_Section{
    margin-left: 10px;
  }
}
@media screen and (max-width: 640px) {
  header{
    position: static;
  }
  body {
    background-color: red;
  }
  section{
    width:450px;
   
  }
  .NameEmail,.Message{

    width: 350px;
  }
  #Header_Name{
    margin-left: 0;
  }
  p{clear: left;}
  
}